.workspace-members-panel .workspace-members-table
  min-height 70px
  margin 10px 25px 0 25px
  .che-list-header
    .che-list-item-checkbox
       margin-bottom 4px
       margin-left 4px !important
    .che-list-header-additional
      padding-left 0
      padding-right 0
      padding-bottom 15px
      .che-button
        min-height 34px
        line-height 33px
        margin-top 15px
    .che-list-add-button
      button
        text-align right
        padding-left 45px !important
        span:before
          position absolute
          display inline
          line-height 35px
          font-size 35px
          font-weight 100
          content "+"
          bottom 1px
          left 15px

    md-item
      border-top none
    .che-list-header-content
      *
        margin-left 0
        margin-right 0
      div.che-list-item-row
        min-height 47px
        line-height 47px
        background-color $cat-gray-color
        border 1px solid $very-light-grey-color

  div.che-list-header-column
    line-height inherit
    .header-sort-direction
      position absolute
    &:last-child
      display block
      text-align right
      span
        padding-right 25px

  .che-panel-titlebox
    margin-bottom 0

.workspace-users-content
  padding 15px

.workspace-users-list
  margin 0

.no-permissions-error
  padding 20px
  font-size 10pt

.no-permissions-error span
  margin-right 10px
