.change-password-confirm-password, .change-password-new-password
  .che-input-box
    min-height 75px
    margin-bottom  20px

.change-password-confirm-password
  .che-input-area .che-input-asterisk
    display none

.change-password-new-password
  .path-strength
    width 100%

  div[ng-message] + .password-strength
    display none

  .password-strength
    span
      display none
      &.weak, &.fair, &.good
        display inline
        font-size 12px
        font-weight bold
        line-height 12px
    .weak
      color #EA6759
    .fair
      color #55A8F9
    .good
      color #48D170
