<!--

    CODENVY CONFIDENTIAL
    __________________

     [2015] - [2016] Codenvy, S.A.
     All Rights Reserved.

    NOTICE:  All information contained herein is, and remains
    the property of Codenvy S.A. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to Codenvy S.A.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.
    Dissemination of this information or reproduction of this material
    is strictly forbidden unless prior written permission is obtained
    from Codenvy S.A..

-->
<che-toolbar che-title="Account"></che-toolbar>

<md-content md-scroll-y flex>
  <md-tabs md-dynamic-height md-stretch-tabs="auto" md-no-ink-bar md-selected="accountController.selectedTabIndex">
    <md-tab>
      <md-tab-label>
        <span class="che-tab-label-title">Profile</span>
      </md-tab-label>
      <md-tab-body>
        <account-profile profile-attributes="accountController.profileAttributes"></account-profile>
      </md-tab-body>
    </md-tab>

    <md-tab>
      <md-tab-label>
        <span class="che-tab-label-title">Security</span>
      </md-tab-label>
      <md-tab-body>
        <md-progress-linear md-mode="indeterminate" ng-show="accountController.isLoading"></md-progress-linear>
        <div class="cdvy-account-security" ng-if="!accountController.isLoading">
          <che-label-container che-label-name="New password"
                               che-label-description="Minimum 8 characters, both letters and digits.">
            <ng-form name="changePasswordForm">
              <account-update-password change-password-form="changePasswordForm"
                                       cdvy-password="accountController.newPassword"></account-update-password>
              <che-button-default che-button-title="Update Password"
                                  ng-disabled="!accountController.newPassword || changePasswordForm.$invalid"
                                  ng-click="accountController.setPassword()">
              </che-button-default>
            </ng-form>
          </che-label-container>
          <che-label-container che-label-name="Delete account"
                               che-label-description="Delete your account is irreversible.">
            <account-delete></account-delete>
          </che-label-container>
        </div>
      </md-tab-body>
    </md-tab>
  </md-tabs>
</md-content>
