.user-list-row
  position relative
  background-color $che-white-color
  border 1px solid $very-light-grey-color
  border-top none
  *
    outline none
  md-item.che-list-item
    display block
    border none
  md-item-content
    display block
    border none
    md-checkbox[disabled] div.md-icon
      border none
    md-switch
      overflow visible !important

  .user-actions
    filter grayscale(100%) opacity(50%)
    min-width 100px
    & > *
      margin-right 12px
      & > *
        text-align center
        min-width 35px
        cursor pointer
        font-size 18px

.user-list-row > div
  outline none

  .user-email, .user-permissions
    max-width 100%

  .user-permissions
    color $label-info-color

  .user-face
    che-developers-face()
    height 24px
    width 24px
    margin-right 5px
    margin-bottom 2px

  .che-list-item-checkbox
    margin-bottom 4px
    margin-left 4px

.user-list-row
  min-height 47px
  line-height 47px
